input[type="submit"]#frst {
width: 110px;
height: 36px;
border-radius: 1px;
border: none;
box-shadow: 0 3px 0 rgb(175, 80, 176);
background-image: url("frst_button_normal.png");
color: #fff;
font-family: "Myriad Pro";
font-size: 13px;
}
input[type="submit"]#frst:hover {
	background-image: url("frst_button_hover.png");
	box-shadow: 0 3px 0 rgb(185, 130, 185);
}
/**input[type="submit"]#frst:active {
	background-image: url("frst_button_active.png");
	box-shadow: 0 3px 0 rgb(185, 130, 185);
}**/